*.mode*
*.pbxuser
*.perspective*
*.pyc
*.la
*.lo
*.o
*.Po

Source/JavaScriptCore/.deps/*
Source/JavaScriptCore/API/.deps/*
Source/JavaScriptCore/API/tests/.deps/*
Source/JavaScriptCore/assembler/.deps/*
Source/JavaScriptCore/bytecode/.deps/*
Source/JavaScriptCore/bytecompiler/.deps/*
Source/JavaScriptCore/debugger/.deps/*
Source/JavaScriptCore/dfg/.deps/*
Source/JavaScriptCore/heap/.deps/*
Source/JavaScriptCore/interpreter/.deps/*
Source/JavaScriptCore/jit/.deps/*
Source/JavaScriptCore/llint/.deps/*
Source/JavaScriptCore/parser/.deps/*
Source/JavaScriptCore/profiler/.deps/*
Source/JavaScriptCore/runtime/.deps/*
Source/JavaScriptCore/tools/.deps/*
Source/JavaScriptCore/yarr/.deps/*
Source/ThirdParty/ANGLE/src/compiler/.deps/*
Source/ThirdParty/ANGLE/src/compiler/depgraph/.deps/*
Source/ThirdParty/ANGLE/src/compiler/preprocessor/.deps/*
Source/ThirdParty/ANGLE/src/compiler/preprocessor/new/.deps/*
Source/ThirdParty/ANGLE/src/compiler/timing/.deps/*
Source/ThirdParty/gtest/src/.deps/*
Source/WTF/wtf/.deps/*
Source/WTF/wtf/dtoa/.deps/*
Source/WTF/wtf/gobject/.deps/*
Source/WTF/wtf/gtk/.deps/*
Source/WTF/wtf/text/.deps/*
Source/WTF/wtf/threads/.deps/*
Source/WTF/wtf/unicode/.deps/*
Source/WTF/wtf/unicode/glib/.deps/*
Source/WTF/wtf/unicode/icu/.deps/*
Source/WTF/wtf/win/.deps/*
Source/WebCore/Modules/discovery/.deps/*
Source/WebCore/Modules/filesystem/.deps/*
Source/WebCore/Modules/gamepad/.deps/*
Source/WebCore/Modules/geolocation/.deps/*
Source/WebCore/Modules/indexeddb/.deps/*
Source/WebCore/Modules/mediasource/.deps/*
Source/WebCore/Modules/mediastream/.deps/*
Source/WebCore/Modules/notifications/.deps/*
Source/WebCore/Modules/protocolhandler/.deps/*
Source/WebCore/Modules/quota/.deps/*
Source/WebCore/Modules/webaudio/.deps/*
Source/WebCore/Modules/webdatabase/.deps/*
Source/WebCore/Modules/websockets/.deps/*
Source/WebCore/accessibility/.deps/*
Source/WebCore/accessibility/gtk/.deps/*
Source/WebCore/bindings/.deps/*
Source/WebCore/bindings/generic/.deps/*
Source/WebCore/bindings/gobject/.deps/*
Source/WebCore/bindings/js/.deps/*
Source/WebCore/bridge/.deps/*
Source/WebCore/bridge/c/.deps/*
Source/WebCore/bridge/jni/jsc/.deps/*
Source/WebCore/bridge/jsc/.deps/*
Source/WebCore/css/.deps/*
Source/WebCore/dom/.deps/*
Source/WebCore/dom/default/.deps/*
Source/WebCore/editing/.deps/*
Source/WebCore/editing/gtk/.deps/*
Source/WebCore/fileapi/.deps/*
Source/WebCore/history/.deps/*
Source/WebCore/html/.deps/*
Source/WebCore/html/canvas/.deps/*
Source/WebCore/html/parser/.deps/*
Source/WebCore/html/shadow/.deps/*
Source/WebCore/html/track/.deps/*
Source/WebCore/inspector/.deps/*
Source/WebCore/loader/.deps/*
Source/WebCore/loader/appcache/.deps/*
Source/WebCore/loader/archive/.deps/*
Source/WebCore/loader/archive/mhtml/.deps/*
Source/WebCore/loader/cache/.deps/*
Source/WebCore/loader/icon/.deps/*
Source/WebCore/mathml/.deps/*
Source/WebCore/page/.deps/*
Source/WebCore/page/animation/.deps/*
Source/WebCore/page/gtk/.deps/*
Source/WebCore/page/scrolling/.deps/*
Source/WebCore/platform/.deps/*
Source/WebCore/platform/animation/.deps/*
Source/WebCore/platform/audio/.deps/*
Source/WebCore/platform/audio/gstreamer/.deps/*
Source/WebCore/platform/audio/gtk/.deps/*
Source/WebCore/platform/cairo/.deps/*
Source/WebCore/platform/clutter/.deps/*
Source/WebCore/platform/geoclue/.deps/*
Source/WebCore/platform/graphics/.deps/*
Source/WebCore/platform/graphics/cairo/.deps/*
Source/WebCore/platform/graphics/clutter/.deps/*
Source/WebCore/platform/graphics/filters/.deps/*
Source/WebCore/platform/graphics/filters/arm/.deps/*
Source/WebCore/platform/graphics/freetype/.deps/*
Source/WebCore/platform/graphics/glx/.deps/*
Source/WebCore/platform/graphics/gpu/.deps/*
Source/WebCore/platform/graphics/gstreamer/.deps/*
Source/WebCore/platform/graphics/gtk/.deps/*
Source/WebCore/platform/graphics/opengl/.deps/*
Source/WebCore/platform/graphics/pango/.deps/*
Source/WebCore/platform/graphics/texmap/.deps/*
Source/WebCore/platform/graphics/transforms/.deps/*
Source/WebCore/platform/graphics/win/.deps/*
Source/WebCore/platform/gtk/.deps/*
Source/WebCore/platform/image-decoders/.deps/*
Source/WebCore/platform/image-decoders/bmp/.deps/*
Source/WebCore/platform/image-decoders/cairo/.deps/*
Source/WebCore/platform/image-decoders/gif/.deps/*
Source/WebCore/platform/image-decoders/ico/.deps/*
Source/WebCore/platform/image-decoders/jpeg/.deps/*
Source/WebCore/platform/image-decoders/png/.deps/*
Source/WebCore/platform/image-decoders/webp/.deps/*
Source/WebCore/platform/leveldb/.deps/*
Source/WebCore/platform/linux/.deps/*
Source/WebCore/platform/mediastream/.deps/*
Source/WebCore/platform/mediastream/gstreamer/.deps/*
Source/WebCore/platform/mock/.deps/*
Source/WebCore/platform/network/.deps/*
Source/WebCore/platform/network/soup/.deps/*
Source/WebCore/platform/sql/.deps/*
Source/WebCore/platform/text/.deps/*
Source/WebCore/platform/text/gtk/.deps/*
Source/WebCore/platform/text/transcoder/.deps/*
Source/WebCore/platform/win/.deps/*
Source/WebCore/plugins/.deps/*
Source/WebCore/plugins/gtk/.deps/*
Source/WebCore/plugins/win/.deps/*
Source/WebCore/rendering/.deps/*
Source/WebCore/rendering/mathml/.deps/*
Source/WebCore/rendering/style/.deps/*
Source/WebCore/rendering/svg/.deps/*
Source/WebCore/storage/.deps/*
Source/WebCore/svg/.deps/*
Source/WebCore/svg/animation/.deps/*
Source/WebCore/svg/graphics/.deps/*
Source/WebCore/svg/graphics/filters/.deps/*
Source/WebCore/svg/properties/.deps/*
Source/WebCore/testing/.deps/*
Source/WebCore/testing/js/.deps/*
Source/WebCore/workers/.deps/*
Source/WebCore/xml/.deps/*
Source/WebCore/xml/parser/.deps/*
Source/WebKit/gtk/WebCoreSupport/.deps/*
Source/WebKit/gtk/webkit/.deps/*
Source/WebKit2/Platform/.deps/*
Source/WebKit2/Platform/CoreIPC/.deps/*
Source/WebKit2/Platform/CoreIPC/unix/.deps/*
Source/WebKit2/Platform/gtk/.deps/*
Source/WebKit2/Platform/unix/.deps/*
Source/WebKit2/PluginProcess/.deps/*
Source/WebKit2/PluginProcess/gtk/.deps/*
Source/WebKit2/Shared/.deps/*
Source/WebKit2/Shared/API/c/.deps/*
Source/WebKit2/Shared/API/c/cairo/.deps/*
Source/WebKit2/Shared/API/c/gtk/.deps/*
Source/WebKit2/Shared/Plugins/.deps/*
Source/WebKit2/Shared/Plugins/Netscape/.deps/*
Source/WebKit2/Shared/Plugins/Netscape/x11/.deps/*
Source/WebKit2/Shared/cairo/.deps/*
Source/WebKit2/Shared/gtk/.deps/*
Source/WebKit2/Shared/soup/.deps/*
Source/WebKit2/UIProcess/.deps/*
Source/WebKit2/UIProcess/API/C/.deps/*
Source/WebKit2/UIProcess/API/C/gtk/.deps/*
Source/WebKit2/UIProcess/API/C/soup/.deps/*
Source/WebKit2/UIProcess/API/gtk/.deps/*
Source/WebKit2/UIProcess/API/gtk/tests/.deps/*
Source/WebKit2/UIProcess/Authentication/.deps/*
Source/WebKit2/UIProcess/Downloads/.deps/*
Source/WebKit2/UIProcess/Launcher/.deps/*
Source/WebKit2/UIProcess/Launcher/gtk/.deps/*
Source/WebKit2/UIProcess/Notifications/.deps/*
Source/WebKit2/UIProcess/Plugins/.deps/*
Source/WebKit2/UIProcess/Plugins/gtk/.deps/*
Source/WebKit2/UIProcess/Plugins/unix/.deps/*
Source/WebKit2/UIProcess/cairo/.deps/*
Source/WebKit2/UIProcess/gtk/.deps/*
Source/WebKit2/UIProcess/soup/.deps/*
Source/WebKit2/WebProcess/.deps/*
Source/WebKit2/WebProcess/ApplicationCache/.deps/*
Source/WebKit2/WebProcess/Authentication/.deps/*
Source/WebKit2/WebProcess/Battery/.deps/*
Source/WebKit2/WebProcess/Cookies/.deps/*
Source/WebKit2/WebProcess/Cookies/soup/.deps/*
Source/WebKit2/WebProcess/Downloads/.deps/*
Source/WebKit2/WebProcess/Downloads/gtk/.deps/*
Source/WebKit2/WebProcess/Downloads/soup/.deps/*
Source/WebKit2/WebProcess/FullScreen/.deps/*
Source/WebKit2/WebProcess/Geolocation/.deps/*
Source/WebKit2/WebProcess/IconDatabase/.deps/*
Source/WebKit2/WebProcess/InjectedBundle/.deps/*
Source/WebKit2/WebProcess/InjectedBundle/API/c/.deps/*
Source/WebKit2/WebProcess/InjectedBundle/DOM/.deps/*
Source/WebKit2/WebProcess/InjectedBundle/gtk/.deps/*
Source/WebKit2/WebProcess/KeyValueStorage/.deps/*
Source/WebKit2/WebProcess/MediaCache/.deps/*
Source/WebKit2/WebProcess/NetworkInfo/.deps/*
Source/WebKit2/WebProcess/Notifications/.deps/*
Source/WebKit2/WebProcess/Plugins/.deps/*
Source/WebKit2/WebProcess/Plugins/Netscape/.deps/*
Source/WebKit2/WebProcess/Plugins/Netscape/gtk/.deps/*
Source/WebKit2/WebProcess/Plugins/Netscape/x11/.deps/*
Source/WebKit2/WebProcess/ResourceCache/.deps/*
Source/WebKit2/WebProcess/WebCoreSupport/.deps/*
Source/WebKit2/WebProcess/WebCoreSupport/gtk/.deps/*
Source/WebKit2/WebProcess/WebCoreSupport/soup/.deps/*
Source/WebKit2/WebProcess/WebPage/.deps/*
Source/WebKit2/WebProcess/WebPage/gtk/.deps/*
Source/WebKit2/WebProcess/gtk/.deps/*
Source/WebKit2/WebProcess/soup/.deps/*
Source/WebKit2/webkit2gtk-3.0.pc*
Tools/DumpRenderTree/TestNetscapePlugIn/.deps/*
Tools/DumpRenderTree/TestNetscapePlugIn/Tests/.deps/*
Tools/DumpRenderTree/TestNetscapePlugIn/Tests/x11/.deps/*
Tools/TestWebKitAPI/.deps/*
Tools/TestWebKitAPI/Tests/WebKit2/.deps/*
Tools/TestWebKitAPI/gtk/.deps/*
Tools/WebKitTestRunner/InjectedBundle/.deps/*
Tools/WebKitTestRunner/InjectedBundle/Bindings/.deps/*
Tools/WebKitTestRunner/InjectedBundle/gtk/.deps/*

*.dirstamp
.DS_Store
.directory
build/
/WebKitBuild/
DerivedSources/
Libraries/
autoinstall.cache.d
project.xcworkspace
xcuserdata

# Ignore auto-generated files by VS2005 and VS2010.
*.vcproj.*.user
*.suo

# Ignore common tool auto-generated files.
.gdb_history
tags
*~
*.swp

# For best performance, place rules for deep paths in the parent directory.
# For example: instead of placing Source/WebKit/chromium/WebKit.xcodeproj here,
# place WebKit.xcodeproj in Source/WebKit/chromium/.gitignore

# Ignore files that Chromium port generates
/Makefile.chromium
/out
/gyp-mac-tool

# Though the GTK build builds in a subdirectory, autogen.sh still deposits
# a few files into the source tree.
/aclocal.m4
/autom4te.cache
/Source/autotools/compile
/Source/autotools/config.guess
/Source/autotools/config.sub
/Source/autotools/depcomp
/Source/autotools/gtk-doc.m4
/Source/autotools/install-sh
/Source/autotools/libtool.m4
/Source/autotools/ltmain.sh
/Source/autotools/ltoptions.m4
/Source/autotools/ltsugar.m4
/Source/autotools/ltversion.m4
/Source/autotools/lt~obsolete.m4
/Source/autotools/missing
/Source/WebKit/gtk/docs/GNUmakefile.in
/Source/WebKit/gtk/po/*.pot
/autotoolsconfig.h.in
/configure
/GNUmakefile.in
/gtk-doc.make
/INSTALL
/README

# Ignore files installed by WebKitSupportLibrary/WebKitAuxiliaryLibrary
/WebKitSupportLibrary.zip
/WebKitLibraries/win/Software License Agreement for WebKit Support Libraries.rtf
/WebKitLibraries/win/WebKitAuxiliaryLibrary.headers
/WebKitLibraries/win/WebKitAuxiliaryLibraryVersion
/WebKitLibraries/win/WebKitChangesToPthreads.diff
/WebKitLibraries/win/include/ApplicationServices/
/WebKitLibraries/win/include/AssertMacros.h
/WebKitLibraries/win/include/Availability.h
/WebKitLibraries/win/include/AvailabilityInternal.h
/WebKitLibraries/win/include/AvailabilityMacros.h
/WebKitLibraries/win/include/CFNetwork/
/WebKitLibraries/win/include/ColorSync/
/WebKitLibraries/win/include/ConditionalMacros.h
/WebKitLibraries/win/include/CoreFoundation/
/WebKitLibraries/win/include/CoreGraphics/
/WebKitLibraries/win/include/CoreServices/
/WebKitLibraries/win/include/ImageIO/
/WebKitLibraries/win/include/QuartzCore/
/WebKitLibraries/win/include/SQLite/
/WebKitLibraries/win/include/SafariTheme/
/WebKitLibraries/win/include/TargetConditionals.h
/WebKitLibraries/win/include/checkint.h
/WebKitLibraries/win/include/dispatch/
/WebKitLibraries/win/include/inttypes.h
/WebKitLibraries/win/include/libxml/
/WebKitLibraries/win/include/libxslt/
/WebKitLibraries/win/include/pthreads/
/WebKitLibraries/win/include/stdbool.h
/WebKitLibraries/win/include/stdint.h
/WebKitLibraries/win/include/unicode/
/WebKitLibraries/win/include/unistd.h
/WebKitLibraries/win/include/xlocale.h
/WebKitLibraries/win/include/zlib/
/WebKitLibraries/win/lib/CFNetwork.lib
/WebKitLibraries/win/lib/CoreFoundation.lib
/WebKitLibraries/win/lib/CoreGraphics.lib
/WebKitLibraries/win/lib/QuartzCore.lib
/WebKitLibraries/win/lib/SQLite3.lib
/WebKitLibraries/win/lib/SafariTheme.lib
/WebKitLibraries/win/lib/icuin.lib
/WebKitLibraries/win/lib/icuuc.lib
/WebKitLibraries/win/lib/libdispatch.lib
/WebKitLibraries/win/lib/libicuin.lib
/WebKitLibraries/win/lib/libicuuc.lib
/WebKitLibraries/win/lib/libxml2.lib
/WebKitLibraries/win/lib/libxslt.lib
/WebKitLibraries/win/lib/pthreadVC2.lib
/WebKitLibraries/win/lib/zdll.lib

# Ignore files generated by Qt Creator:
*.pro.user

# Ignore KDevelop files:
.kdev_include_paths
*.kdev4
*.kate-swp

# Ignore Eclipse files:
.project
.cproject
